<div id="welcomePhotoGalleryPanel">
    <div class="container">
        <h2>Photos</h2>
    </div>
</div>

<div id="photoGalleryPanel">
    <div class="container">
        <div id="gallery">
            <img alt="Image 1 Title" src="/Content/img/outdoor01.JPG"
                    data-image="/Content/img/outdoor01.JPG"
                    data-description="Image 1 Description">
            <img alt="Image 2 Title" src="/Content/img/outdoor02.JPG"
                 data-image="/Content/img/outdoor02.JPG"
                 data-description="Image 2 Description">
            <img alt="Image 1 Title" src="/Content/img/outdoor01.JPG"
                 data-image="/Content/img/outdoor01.JPG"
                 data-description="Image 1 Description">
            <img alt="Image 2 Title" src="/Content/img/outdoor02.JPG"
                 data-image="/Content/img/outdoor02.JPG"
                 data-description="Image 2 Description">
            <img alt="Image 1 Title" src="/Content/img/outdoor01.JPG"
                 data-image="/Content/img/outdoor01.JPG"
                 data-description="Image 1 Description">
            <img alt="Image 2 Title" src="/Content/img/outdoor02.JPG"
                 data-image="/Content/img/outdoor02.JPG"
                 data-description="Image 2 Description">
            <img alt="Image 1 Title" src="/Content/img/outdoor01.JPG"
                 data-image="/Content/img/outdoor01.JPG"
                 data-description="Image 1 Description">
            <img alt="Image 2 Title" src="/Content/img/outdoor02.JPG"
                 data-image="/Content/img/outdoor02.JPG"
                 data-description="Image 2 Description">
            <img alt="Image 1 Title" src="/Content/img/outdoor01.JPG"
                 data-image="/Content/img/outdoor01.JPG"
                 data-description="Image 1 Description">
            <img alt="Image 2 Title" src="/Content/img/outdoor02.JPG"
                 data-image="/Content/img/outdoor02.JPG"
                 data-description="Image 2 Description">
        </div>
    </div>
</div>

