
@{
    ViewBag.Title = "Index";
}

<div id="LocalisationPanel">
    <div class="container">
        <h2>Localisation</h2>
        <div id="map"></div>
    </div>
</div>

<div id="laReunionPanel">
    <div class="container">
        <h2>Découvrez L'île de la Réunion</h2>
    </div>
</div>