html, body {
height: 100%;
width: 100%;
}

/**************/
/*Begin Navbar*/
/**************/
.navbar {
    margin-bottom: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .container {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    text-align: center;

}
.navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
}

/**************/
/*End - Navbar*/
/**************/

/***********************/
/*Begin - Welcome Panel*/
/***********************/
#welcomePanel {
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(77, 121, 255, 0.7)), url('/Content/img/ReunionIsland.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcomePanel .container{
    min-height: 100%;  
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

#welcomePanel .container h2{
    border: 2px solid #000000;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 65px;
    color: #000000;
    text-align: center;
    padding: 15px 35px;
}
/*********************/
/*End - Welcome Panel*/
/*********************/

/*********************************/
/*Begin - Brief description panel*/
/*********************************/
#briefDescription {
   background: url('/Content/img/WoodBackground3.jpg') no-repeat;
   background-size: cover;
}

#briefDescription .container{
    background: transparent;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

#briefDescriptionPhoto {
    padding-right: 0;
    padding-left: 0;
}

#briefDescriptionPhoto .container {
    background-image:url(../Content/img/frontHome.jpg);
    height: 500px;
}

#briefDescriptionText {
    text-align: center;
}

#briefDescriptionText{
    padding-right: 50px;
    padding-left: 50px;
}

#briefDescriptionText .container{
    border: 0.1px solid #000000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#briefDescriptionText h3{
    font-family: 'Lobster', cursive;
    padding-bottom: 40px;
    font-size: 30px;
}

#briefDescriptionText p{
    margin: 0 auto;
    font-family: 'Poppins';
    padding-bottom: 10px;
}

#briefDescriptionText a{
    text-decoration: none;
}
#para {
    padding-bottom: 30px;
}
/*******************************/
/*End - Brief description panel*/
/*******************************/

/**************************/
/*Start - Facilities panel*/
/**************************/
#facilities {
    background: linear-gradient( rgba(255, 128, 128, 0.3), rgba(255, 255, 153, 0.3),rgba(179, 255, 179, 0.3)), url('/Content/img/reunionIslandNight.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facilities .container{
    min-height: 100%;  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

#facilities .container h2{
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 65px;
    color: #000000;
    text-align: center;
    border: 2px solid #000000;
    padding: 15px 35px;
}

.iconContainer {
    text-align: center
}

#facilities h4 {
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    text-align: center
}

#facilities p {
    font-size: 15px;
    font-family: 'Hind';
    font-weight: normal;
    font-style: normal;
    text-align: justify;
}

.containerCategorie {
    width: 75%;
}
.caseCategorie {
    height: 125px;
    background: rgba(255, 255, 255, 0.5);

}
.caseCategorieEmpty {
    height: 125px;
}
/************************/
/*End - Facilities panel*/
/************************/


.field-validation-error{
    color: white;
}

/********************************/
/*Begin - Photo Carroussel Panel*/
/********************************/
#photoCarroussel{
    background: url(../Content/img/WoodBackground2.jpg) no-repeat;
    background-size: cover;
}

#photoCarroussel .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

#galleryParagraph{
    border: 0.1px solid #000000;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#galleryParagraph h2{
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    color: #000000;
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
}

#galleryParagraph p{
    margin: 0 auto;
    font-family: 'Poppins';
    padding-bottom: 10px;
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 650px;
  height: 500px;
  padding: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}


#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#slideshow img {
  max-width:100%;
  max-height:100%;
}
/******************************/
/*End - Photo Carroussel Panel*/
/******************************/

/***********************/
/*Begin - Contact Panel*/
/***********************/
.contactPanel {
    background: url(../Content/img/contact-us-panel.jpg) no-repeat;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactPanel .container{
    min-height: 100%;  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contactPanel .container h2{
    border: 2px solid #FFF;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 65px;
    color: #000000;
    text-align: center;
    padding: 15px 35px;
    color: #FFF;
}

#ContactForm {
    margin: 0 auto;
    min-width: 100%;
}
/*********************/
/*End - Contact Panel*/
/*********************/

/*************************/
/*Start - Spinner Loading*/
/*************************/
#loading
{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.8);
    z-index:1000;
}
  
#loadingcontent
{
    display:table;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
  
#loadingspinner
{
    display: table-cell;
    vertical-align:middle;
    width: 100%;
    text-align: center;
    font-size:larger;
    padding-top:80px;
}
/***********************/
/*End - Spinner Loading*/
/***********************/

/*********************/
/*Start - Modal panel*/
/*********************/
.modal-content {
    overflow:hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.modal-header {
    background-color: #99c0ff;
    color: white;
}

.modal-footer {
    background-color: #99c0ff;
    color: white;
}

#imageresource {
    width: 150px;
    height: 150px;
}
/*******************/
/*End - Modal panel*/
/*******************/


/****************/
/*Begin - Footer*/
/****************/

footer {
    background-color: black;
    height: 50px;
}

footer .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 18px;
    color: grey;
}

/**************/
/*End - Footer*/
/**************/

/***********************/
/*Begin - Localisation*/
/***********************/
#LocalisationPanel .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background: linear-gradient( rgba(156, 156, 240, 0.5), rgba(140, 236, 140, 0.5)), url('/Content/img/localisationPanel.jpg') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 75vh;
    flex-direction: column;
    padding-top: 50px;
}

#LocalisationPanel .container h2{
    border: 2px solid #000000;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #000000;
    text-align: center;
    padding: 15px 35px;
}

#map {
    height: 400px;
    width: 750px;
    margin-top: 100px;
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.6);
}


#laReunionPanel .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 75vh;
    flex-direction: column;
    padding-top: 50px;
}

#laReunionPanel .container h2{
    border: 2px solid #000000;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #000000;
    text-align: center;
    padding: 15px 35px;
}

/*********************/
/*End - Localisation*/
/*********************/

/***********************/
/*Begin - La Maison*/
/***********************/
#welcomePhotoGalleryPanel .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background: linear-gradient( rgba(155, 68, 255, 0.5),rgba(255, 73, 73, 0.2), rgba(0, 0, 0, 0.5)), url('/Content/img/laMaisonPanel.jpg') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 75vh;
    flex-direction: column;
    padding-top: 50px;
}

#welcomePhotoGalleryPanel .container h2{
    border: 2px solid #000000;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #000000;
    text-align: center;
    padding: 15px 35px;
}

#photoGalleryPanel .container {
    width: 100%;
    padding: 150px;
}

#photoGalleryPanel .container #gallery{
    margin: auto;

}

/*********************/
/*End - La Maison*/
/*********************/

/*****************************/
/*Begin - Vertical Navigation*/
/*****************************/
.vNav {
    position: fixed;
    top: 80%;
    left: 90%;
    width: 50px;
    z-index: 9999;
    list-style-type: none;
}
.vNav ul {
    position: relative;
    padding: 3px;
    padding-left: 35%;
}
.vNav ul li {
    position: relative;
    padding-bottom: 20px;
    padding-left: 35%;
    color: black;
}
.vNav a {
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    border-color: black;
    text-decoration: none;
}
.vNav a:hover {
    border-radius: 50%;
    background-color: black;
    text-decoration: none;
}
.vNav a.active {
    border-radius: 50%;
    background-color: white;
    text-decoration: none;
}
.label {
    position: relative;
    top: -40%;
    left: -200%;
    text-align: right;
    color: black;
    display: none;
    font-size: 12px;
    font-family: 'Poppins', cursive;
}
/*****************************/
/*End - Vertical Navigation*/
/*****************************/