<div class="vNav">
    <ul class="vNav">
        <li>
            <a href="#welcomePanel">
                <div class="label">Accueil</div>
            </a>
        </li>
        <li>
            <a href="#briefDescription">
                <div class="label">Localisation</div>
            </a>
        </li>
        <li>
            <a href="#facilities">
                <div class="label">Sur Place</div>
            </a>
        </li>
        <li>
            <a href="#photoCarroussel">
                <div class="label">La Maison</div>
            </a>
        </li>
        <li>
            <a href="#contactPanelContainer">
                <div class="label">Reserver</div>
            </a>
        </li>
    </ul>
</div>

@*WELCOME PANEL*@
<div class="par" id="welcomePanel" data-stellar-background-ratio="0.5">
    <div class="container">
        <h2 data-aos="zoom-in"
            data-aos-duration="600"
            >Bienvenue sur l'île de la Réunion</h2>
    </div>
</div>

@*BRIEF DESCRIPTION*@
<div id="briefDescription" class="par">
    <div class="container">
        <div class="row">
            <div data-aos="zoom-in"
                 data-aos-offset="500"
                 data-aos-duration="800"
                 data-aos-anchor="#briefDescription"
                 class="col-xs-5 col-md-7 col-lg-9 vcenter" id="briefDescriptionText">
                <div class="container">
                    <h3>Localisation</h3>
                    <br />
                    <div id="para">
                        <p>Venez passer un séjour agréable dans une charmante petite villa, T2 de 85 m2, située dans un jardin tropical privatif, à l’Ermitage les Bains.</p>
                        <p>Le meublé, à 200m du lagon, peut accueillir jusqu’à 5 personnes.</p>
                    </div>
                    <br />
                    <div id="link">
                        <p><a class="toMapLocalisation" href="@Url.Action("Index", "Localisation")">Voir la carte</a></p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in"
                 data-aos-offset="500"
                 data-aos-duration="800"
                 data-aos-anchor="#briefDescription"
                 class="col-xs-5 col-md-7 col-lg-9 vcenter" id="briefDescriptionPhoto">
                <div class="container">
                </div>
            </div>
        </div>
    </div>
</div>

@*FACILITIES*@
<div class="par" id="facilities" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <h2 data-aos="zoom-in"
                data-aos-offset="250">
                Sur Place
            </h2>
        </div>
        <div class="grid">
            <div class="row">
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                    </div>
                </div>
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                        <img src="/Content/img/ConfCall.png" class="img-responsive">
                        <h4>x5</h4>
                    </div>
                </div>
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                        <img src="~/Content/img/AirCond.png" class="img-responsive">
                    </div>
                </div>
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                        <img src="~/Content/img/Garage.png" class="img-responsive">
                        <h4>x2</h4>
                    </div>
                </div>
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                        <img src="~/Content/img/Shop.png" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                        <img src="~/Content/img/BathRoom.png" class="img-responsive">
                        <h4>x2</h4>
                    </div>
                </div>
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                        <img src="~/Content/img/SleepingRoom.png" class="img-responsive">
                        <h4>x6</h4>
                    </div>
                </div>
                <div class=".col-xs-4 .col-sm-4 .col-md-4 card">
                    <div id="card">
                        <img src="~/Content/img/Wifi.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*PHOTO CARROUSSEL*@
<div id="photoCarroussel" class="par">
    <div class="container">
        <div class="row">
            <div data-aos="zoom-in"
                 data-aos-offset="500"
                 data-aos-duration="800"
                 data-aos-anchor="#photoCarroussel"
                 class="col-md-6">
                <ul class="rslides">
                    <li><img src="../../Content/img/outdoor01.JPG" alt=""></li>
                    <li><img src="../../Content/img/outdoor02.JPG" alt=""></li>
                    <li><img src="../../Content/img/outdoor03.JPG" alt=""></li>
                    <li><img src="../../Content/img/outdoor04.JPG" alt=""></li>
                    <li><img src="../../Content/img/bathRoom.JPG" alt=""></li>
                    <li><img src="../../Content/img/bedRoom01.JPG" alt=""></li>
                    <li><img src="../../Content/img/bedRoom02.JPG" alt=""></li>
                    <li><img src="../../Content/img/bedRoom03.JPG" alt=""></li>
                    <li><img src="../../Content/img/kitchen.JPG" alt=""></li>
                </ul>
            </div>
            <div data-aos="zoom-in"
                 data-aos-offset="500"
                 data-aos-duration="800"
                 data-aos-anchor="#photoCarroussel"
                 class="col-md-6">
                <div class="container">
                    <div id="galleryParagraph">
                        <h2>A la maison</h2>
                        <br />
                        <p>Entièrement rénovée, bien équipée, séjour et chambre climatisés; vous trouverez dans cette location, tout ce dont vous aurez besoin pour votre confort de vie (box internet indépendante orange, bouquet TV, lave-linge, linge de maison, dressing, placards , barbecue …).</p>
                        <p>Les places de parking sont sécurisées.</p>
                        <div id="link">
                            <p><a class="toLocationDetails" href="@Url.Action("Index", "PhotoGallery")">Plus de détails</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*CONTACT*@
<div id="contactPanelContainer" class="par contactPanel" data-stellar-background-ratio="0.5">
    <div class="container">
        <div data-aos="zoom-in"
                data-aos-offset="500">
            <h2>Contactez nous !</h2>
        </div>
        <div data-aos="flip-down"
                data-aos-offset="400"
                class="col-lg-12">
            @Html.Partial("~/Views/Home/_Contact.cshtml")
        </div>
    </div>
</div>




@*SPINNER LOADING*@
<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Currently sending your information...
        </p>
    </div>
</div>



@*MODAL POPUP*@
<div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="text-center">
                <div class="modal-header">
                    <img id="imageresource" src="../Content/img/contact-us.png">
                    <h3>Your WebDev Agency</h3>
                </div>
                <div>

                </div>
            </div>
            <div class="modal-body">
                <h4 id="showSuccessMessage" class="modal-title text-center">@Html.Raw(ViewBag.ShowSuccessMessage)</h4>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-sm btn-primary btn-raised" data-dismiss="modal">Continue on the site...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>