@*WELCOME PANEL*@
<div class="content" id="welcomePanel" data-stellar-background-ratio="0.5">
    <div class="container">
        <h2>Bienvenue sur l'île de la Réunion</h2>
    </div>
</div>

@*BRIEF DESCRIPTION*@
<div id="briefDescription">
    <div class="container">
        <div class="col-md-5" id="briefDescriptionText">
            <div class="container">
                <h3>Localisation</h3>
                <br />
                <div id="para">
                    <p>Venez passer un séjour agréable dans une charmante petite villa, T2 de 85 m2, située dans un jardin tropical privatif, à l’Ermitage les Bains.</p>
                    <p>Le meublé, à 200m du lagon, peut accueillir jusqu’à 5 personnes.</p>
                </div>
                <br/>
                <div id="link">
                    <p><a class="toMapLocation" href="#Location">Voir la carte</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-7" id="briefDescriptionPhoto">
        </div>
    </div>
</div>

@*FACILITIES*@
<div class="content" id="facilities" data-stellar-background-ratio="0.5">
    <div class="container">
        <h2>Sur Place</h2>
        <div class="containerCategorie col-md-12">
            <br />
            <div class="caseCategorieEmpty  col-md-4">
            </div>
            <div class="caseCategorie col-md-4">
                <div class="iconContainer">
                    <img src="/Content/img/ConfCall.png">
                </div>
                <h4>5x Personnes</h4>
                <p>
                </p>
            </div>
            <div class="caseCategorieEmpty col-md-4">
            </div>
            <div class="caseCategorie col-md-4">
                <div class="iconContainer">
                    <img src="/Content/img/SleepingRoom.png">
                </div>
                <h4>2x Chambres</h4>
                <p>
                    
                </p>
            </div>
            <div class="caseCategorie col-md-4">
                <div class="iconContainer">
                    <img src="/Content/img/Wifi.png">
                </div>
                <h4>Wifi/TV</h4>
                <p>
                    
                </p>
            </div>
            <div class="caseCategorie col-md-4">
                <div class="iconContainer">
                    <img src="/Content/img/BathRoom.png">
                </div>
                <h4>2x Salle De Bain</h4>
                <p>
                </p>
            </div>
            <div class="caseCategorie col-md-4">
                <div class="iconContainer">
                    <img src="/Content/img/Garage.png">
                </div>
                <h4>2x Parking</h4>
                <p>
                </p>
            </div>
            <div class="caseCategorie col-md-4">
                <div class="iconContainer">
                    <img src="/Content/img/AirCond.png">
                </div>
                <h4>Air Conditionnée</h4>
                <p>
                </p>
            </div>
            <div class="caseCategorie col-md-4">
                <div class="iconContainer">
                    <img src="/Content/img/Shop.png">
                </div>
                <h4>Commerces</h4>
                <p>
                </p>
            </div>
        </div>
    </div>
</div>

@*PHOTO CARROUSSEL*@
<div id="photoCarroussel">
    <div class="container">
        <div class="col-md-6">
            <div id="galleryParagraph">
                <h2>A la maison</h2>
                <br />
                <p>Séjournez dans une belle et tranquille maison près de l'ocean indien.</p>
                <p>Profitez du petit déjeuner gratuit, jardin frais et vue magnifique.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div id="slideshow">
                <div>
                    <img src="../../Content/img/outdoor01.JPG" class="img-responsive">
                </div>
                <div>
                    <img src="../../Content/img/outdoor02.JPG" class="img-responsive">
                </div>
                <div>
                    <img src="../../Content/img/outdoor03.JPG" class="img-responsive">
                </div>
                <div>
                    <img src="../../Content/img/outdoor04.JPG" class="img-responsive">
                </div>
                <div>
                    <img src="../../Content/img/bathRoom.JPG" class="img-responsive">
                </div>
                <div>
                    <img src="../../Content/img/bedRoom01.JPG" class="img-responsive">
                </div>
                <div>
                    <img src="../../Content/img/bedRoom02.JPG" class="img-responsive">
                </div>
                <div>
                    <img src="../../Content/img/bedRoom03.JPG" class="img-responsive">
                </div>
                <div>
                    <img src="../../Content/img/kitchen.JPG" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

@*CONTACT*@
<div class="contactPanel" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="col-lg-12">
            <h2>Contactez nous !</h2>
        </div>
        <div class="col-lg-12">
            @Html.Partial("~/Views/Home/_Contact.cshtml")
        </div>
    </div>
</div>




@*SPINNER LOADING*@
<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Currently sending your information...
        </p>
    </div>
</div>



@*MODAL POPUP*@
<div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="text-center">
                <div class="modal-header">
                    <img id="imageresource" src="../Content/img/contact-us.png">
                    <h3>Your WebDev Agency</h3>
                </div>
                <div>

                </div>
            </div>
            <div class="modal-body">
                <h4 id="showSuccessMessage" class="modal-title text-center">@Html.Raw(ViewBag.ShowSuccessMessage)</h4>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-sm btn-primary btn-raised" data-dismiss="modal">Continue on the site...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>