@*ACCEUIL*@
<a name="ScrollToAbout"></a>

<div class="parallax">
    <div class="container">
        <h2>Bienvenue sur l'Ile de la Reunion</h2>
    </div>
</div>

<div id="test01">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="briefDescriptionPhoto">
            </div>
            <div class="col-md-6" id="briefDescriptionText">
                <h3>Localisation</h3>
                <p>test kwehj wfwhfow qwfownjfw owefwlf wlwefwf wefwnef</p>
            </div>
        </div>
    </div>
</div>

<div class="parallax">
    Other Paralax...
</div>


    @*SERVICES*@
    <a name="ScrollToServices"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div id="process">
                    <div class="col-md-12">
                        <h2>The Process:</h2>
                        <br />
                        <p>
                            The first step is to define the project. If you are an agency then you may already have a solid brief however if this is your first time building a website or the process is new to you then we may need to solidify exactly what needs to be done before I can start work.
                        </p>
                        <p>
                            After costs and timeframes have been discussed then I can start work on your project and I will be in touch once I have a first draft to show you.
                        </p>
                        <p>
                            Any further additions outside of the original scope will need to be estimated for with regards to cost and time.
                        </p>
                        <p>
                            Once you are happy with the project and final payment has been arranged then I will deploy the project to wherever it needs to be.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <div id="categories">
                    <div class="col-md-12">
                        <h2>The journey I can help you navigate:</h2>
                        <br />
                        <div class="col-md-4">
                            <div class="iconContainer">
                                <i class="fa fa-html5 fa-3x" aria-hidden="true"></i>
                            </div>

                            <h4>FrontEnd Development</h4>
                            <p>
                                HTML5, CSS3 and JavaScript are the main building blocks of frontend development and bring your projects to live.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="iconContainer">
                                <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
                            </div>
                            <h4>BackEnd Development</h4>
                            <p>
                                PHP applications and MySQL powered websites living in a Linux and Apache environment
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="iconContainer">
                                <i class="fa fa-windows fa-3x" aria-hidden="true"></i>
                            </div>
                            <h4>C#</h4>
                            <p>
                                C# is an elegant and type-safe object-oriented language that enables developers to build a variety of secure and robust applications that run on the .NET Framework.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="iconContainer">
                                <i class="fa fa-code fa-3x" aria-hidden="true"></i>
                            </div>
                            <h4>Javascript</h4>
                            <p>
                                JavaScript is the foundation of many awesome frameworks of which jQuery is my most practised.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="iconContainer">
                                <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                            </div>
                            <h4>Design</h4>
                            <p>
                                Wireframing, website design, logo creation and branding your company
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="iconContainer">
                                <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
                            </div>
                            <h4>Host</h4>
                            <p>
                                I can assist you with hosting, DNS services, email setup and deploying your website. I can also help with transferring websites between providers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        A showcase for your business
                    </h2>
                    <p class="lead">
                        Increase your visibility, develop your notoriety, present your products/services, share your actuality and make yourself known!
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../Content/img/content.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Get new clients!
                    </h2>
                    <p class="lead">

                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="../Content/img/business.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Keep your website updated the easiest way!
                    </h2>
                    <p class="lead">

                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="../Content/img/content.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    @*CONTACT*@
    <a name="ScrollToContact"></a>
    <div class="banner">
        <div class="container">
            <div class="col-lg-12">
                <h2>Get in touch today</h2>
            </div>
            <div class="col-lg-12">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
        @Html.Partial("~/Views/Home/_Contact.cshtml")
    </div>

    @*MODAL POPUP*@
    <div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="text-center">
                    <div class="modal-header">
                        <img id="imageresource" src="../Content/img/contact-us.png">
                        <h3>Your WebDev Agency</h3>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="modal-body">
                    <h4 id="showSuccessMessage" class="modal-title text-center">@Html.Raw(ViewBag.ShowSuccessMessage)</h4>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-primary btn-raised" data-dismiss="modal">Continue on the site...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*SPINNER LOADING*@
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner">
                Currently sending your information...
            </p>
        </div>
    </div>

    @*FOOTER*@
    <a name="resume"></a>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
